* {
  font-family: 'Open Sans', sans-serif;
}
label {
  font-size: 0.9em !important;
  color: #828282 !important;
}
.ui.checkbox label {
  font-size: 0.8em !important;
}
.selected label {
  color: #ffffff !important;
}
.selected .ui.checkbox label {
  color: #ffffff !important;
}
.ui.message {
  box-shadow: none;
  background: rgba(170, 183, 187, 0.23);
}
.ui.checkbox {
  margin: 0em 0em 0.28571429rem 0em;
}

.ui.message.selected {
    background-color: #2185d0;
}